.addmsg{
  background-color: greenyellow;
  font-size: 2rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border-style: solid;
  border-radius: 1rem;
  border-width: 0.2rem;
  border-color: green;
  padding: 0.5rem;
  margin: 1.4rem 0;
}